@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    height: 100%;
    background-color: #273B09;
}

.calculator {
    height: 650px;
    width: 350px;
    border: 2px solid black;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    height: 25%;
    width: 95%;
    background-color: #002400;
    font-family: 'Space Mono', sans-serif;
    font-size: 40px;
    text-align: right;
    color: #DBD2E0;
}

.buttons {
    height: 70%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.functions, .num-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.right-buttons {
    width: 25%;
}

.ops {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

button {
    border-style: none;
    border: 5px solid #002400;
    background-color: #7B904B;
    height: 90px;
    color: #273B09;
    font-family: 'Space Mono', sans-serif;
    font-size: 50px;
}

img {
    height: 50px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}